doctype html
html(lang="ru")
  head
    title pageTitle
    link(rel='stylesheet', href='dev/css/custom.css')
    script(type='text/javascript', src='dev/js/custom.js')  
    script(type='text/javascript', src='dev/js/lazysizes.min.js')  
    script(type='text/javascript', src='dev/js/ls.include.min.js')  
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')  
  body
    div.head
      div.head__topLogo
        img(src='img/logo.png')
      div.head__topAddr.
        Производство и строительство домов из бревна<br>  
        Офис: г. Казань, ул. Журналистов 56
      div.head__topTel.
        +7 (843) 202 34 49
      div.head__topButton
        input(type='button', value='Заказать звонок') 
    

    //- section1
    div.section1
      h1 СТРОИТЕЛЬСТВО ДОМОВ ИЗ БРЕВНА <br> ОТ ПРОИЗВОДИТЕЛЯ "ПОД КЛЮЧ"
      
      div.inner
        div.leftSide
          img(src='img/section1__auctionHouseImg.jpg')
          div.stats
            div.
                БЕСПЛАТНО подбор и устройство фундамента
            div
              img(src='img/section1__Arrow.png')
            div.
                Акция действует:      
        div.rightSide
          p.
            По Татарстану нами реализовано уже более 3000 м<sup>2</sup>    
          div.greenForm
            p.
              Оставьте заявку сейчас и получите эскизный проект Бесплатно!  
            form.form
              input(type="text" placeholder='Ваше имя')
              input(type='submit' value='Оставить заявку')
            p.
              Мы не передаем Вашу персональную информацию третьим лицам

    //- section2

    div.section2
      h2 Правильно произведенный стеновой комплект - <br><span>главная гарантия долговечности и теплоты дома</span>
      div.inner
           
        div.leftSide
          p.
            Топ 6 преимуществ нашего производства:
          ul
            li(title='Используем северный лес зимней заготовки').
              <span class='li1'></span>  Увеличиваем теплосбережение дома
            li(title='Все станки в производственной линии одной марки Sherwood').
              <span class='li2'></span>  Новое оборудование 2015г.в.
            li(title='Станок токарно-роторного типа ОФЗОц').
              <span class='li3'></span>  Никаких кривых бревен
            li(title='Делаем компенсационный пропил').
              <span class='li4'></span>  Уменьшаем трещины
            li(title='Снимаем 1-2см защитного слоя девесины').
              <span class='li5'></span>  Увеличиваем долговечность
            li.
              <span class='li6'></span>  Обрабатываем антисептиком Pnosept 46        
        div.rightSide
          p.
            Посмотрите видео отзыв
          div.youtube-player(data-id='9wkr4njFbCM')

    //- leadform

    div.leadform
      div.inner
        h2 Заказать стеновой комплект с ценой от производителя
        form.form
          input(type='text' placeholder='Ваше имя' name='name' required)        
          input(type='text' placeholder='Ваш телефон' name='phone' reqiured)

          input(type='submit' value='Заказать')

    //- section3
    div.section3.lazyload(data-include='dev/sections/section3.html')

    //- leadform

    div.leadform
      div.inner
        h2 Заказать строительство дома из бревна под "ключ"
        form.form
          input(type='text' placeholder='Ваше имя' name='name' required)        
          input(type='text' placeholder='Ваш телефон' name='phone' reqiured)

          input(type='submit' value='Заказать')
          
    //- section4
    div.section4.lazyload(data-include='dev/sections/section4.html')

    //- section5        
    div.section5.lazyload(data-include='dev/db.php')

