doctype html
html(lang="ru")
  head
    title pageTitle
    link(rel='stylesheet', href='dev/css/custom.css') 
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')  
  body
    div.head
      div.head__topLogo
        img(src='img/logo.png')
      div.head__topAddr.
        Производство и строительство домов из бревна<br>  
        Офис: г. Казань, ул. Журналистов 56
      div.head__topTel.
        +7 (843) 202 34 49
      div.head__topButton
        a(href='#topform' data-lity) Заказать звонок
 

    //- section1
    div.section1
      h1 СТРОИТЕЛЬСТВО ДОМОВ ИЗ БРЕВНА <br> ОТ ПРОИЗВОДИТЕЛЯ "ПОД КЛЮЧ"
      
      div.inner
        div.leftSide
          img(src='img/section1__auctionHouseImg.jpg')
          div.stats
            div.
                <b>БЕСПЛАТНО</b> подбор и<br> устройство фундамента
            div
              img(src='img/section1__Arrow.png')
            div
                <p>Акция действует:</p>
                div#clockdiv
                  div.count
                    span.days
                    span.smalltext.
                                   Дней
                  div.count
                    span.hours
                    span.smalltext.
                                  Часов
                  div.count
                    span.minutes
                    span.smalltext.
                                  Минут                  
                  div.count
                    span.seconds
                    span.smalltext.
                                  Секунд
        script.
                    function getTimeRemaining(endtime) {
              var t = Date.parse(endtime) - Date.parse(new Date());
              var seconds = Math.floor((t / 1000) % 60);
              var minutes = Math.floor((t / 1000 / 60) % 60);
              var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
              var days = Math.floor(t / (1000 * 60 * 60 * 24));
              return {
                'total': t,
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
              };
            }

            function initializeClock(id, endtime) {
              var clock = document.getElementById(id);
              var daysSpan = clock.querySelector('.days');
              var hoursSpan = clock.querySelector('.hours');
              var minutesSpan = clock.querySelector('.minutes');
              var secondsSpan = clock.querySelector('.seconds');

              function updateClock() {
                var t = getTimeRemaining(endtime);

                daysSpan.innerHTML = t.days;
                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                if (t.total <= 0) {
                  clearInterval(timeinterval);
                }
              }

              updateClock();
              var timeinterval = setInterval(updateClock, 1000);
            }

            var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
            initializeClock('clockdiv', deadline);

        div.rightSide
          p.
            По Татарстану нами реализовано уже более 3000 м<sup>2</sup>    
          div.greenForm
            p.
              Оставьте заявку сейчас и получите эскизный проект Бесплатно!  
            form.form
              input(type="text" placeholder='Ваше телефон' name='phone')
              input(type='submit' value='Оставить заявку')
            p.
              Мы не передаем Вашу персональную информацию третьим лицам

    //- section2

    div.section2
      h2 Правильно произведенный стеновой комплект - <br><span>главная гарантия долговечности и теплоты дома</span>
      div.inner
           
        div.leftSide
          p.
            Топ 6 преимуществ нашего производства:
          ul
            li(title='Используем северный лес зимней заготовки').
              <span class='li1'></span>  Увеличиваем теплосбережение дома
            li(title='Все станки в производственной линии одной марки Sherwood').
              <span class='li2'></span>  Новое оборудование 2015г.в.
            li(title='Станок токарно-роторного типа ОФЗОц').
              <span class='li3'></span>  Никаких кривых бревен
            li(title='Делаем компенсационный пропил').
              <span class='li4'></span>  Уменьшаем трещины
            li(title='Снимаем 1-2см защитного слоя девесины').
              <span class='li5'></span>  Увеличиваем долговечность
            li.
              <span class='li6'></span>  Обрабатываем антисептиком Pnosept 46        
        div.rightSide
          p.
            Посмотрите видео отзыв
          div.youtube-player(data-id='9wkr4njFbCM')

    //- leadform

    div.leadform
      div.inner
        h2 Заказать стеновой комплект с ценой от производителя
        form.form
          input(type='text' placeholder='Ваше имя' name='name' required)        
          input(type='text' placeholder='Ваш телефон' name='phone' reqiured)

          input(type='submit' value='Заказать')

    //- section3
    div.section3.lazyload(data-include='dev/sections/section3.html')

    //- leadform

    div.leadform
      div.inner
        h2 Заказать строительство дома из бревна под "ключ"
        form.form
          input(type='text' placeholder='Ваше имя' name='name' required)        
          input(type='text' placeholder='Ваш телефон' name='phone' reqiured)

          input(type='submit' value='Заказать')
          
    //- section4
    div.section4.lazyload(data-include='dev/sections/section4.html')

    //- section5        
    div.section5.lazyload(data-include='dev/db.php')

    div.leadform
      div.inner
        h2 Получить полный каталог проектов БЕСПЛАТНО
        form.form
          input(type='text' placeholder='Ваше имя' name='name' required)        
          input(type='text' placeholder='Ваш телефон' name='phone' reqiured)

          input(type='submit' value='Заказать')  

    //- section6
    div.section6.lazyload(data-include='dev/sections/section6.html')

    //- section7
    div.section7.lazyload(data-include='dev/sections/section7.html')

    div#topform.lity-hide
      div.bot-lity
        h3 Оставьте свой номер телефона
        form.form
          input(type='text' placeholder='Ваше имя' required name='name')
          input(type='text' placeholder='Ваш телефон' required name='phone')
          input(type='submit' value='Отправить')
    
    script(type='text/javascript', src='dev/js/custom.js')  
    script(type='text/javascript', src='dev/js/lazysizes.min.js')  
    script(type='text/javascript', src='dev/js/ls.include.min.js')             

    script.
      var jq ={};
      function loadjq ()
      {
        jq = document.createElement("script");
        jq.src = "https://code.jquery.com/jquery-2.2.4.min.js";
        document.getElementsByTagName("head")[0].appendChild(jq);

        jq.onload = function()
        {
        

        if($("script[src='dev/lity/lity.js']").length <1)
        {
                var lit = document.createElement("script");
                lit.src = "dev/lity/lity.js";
                document.getElementsByTagName("head")[0].appendChild(lit); 
                console.log('lity loaded after jq');

                loadStyleSheet('dev/lity/lity.css');
        }

        $(".form").submit(function(e)
          { 
          e.preventDefault();
              //устанавливаем событие отправки для формы с id=form
                var form_data = $(this).serialize(); //собираем все данные из формы
                $.ajax({
                      type: "POST", //Метод отправки
                      url: "send.php", //путь до php файла-отправителя
                      data: form_data,
                      success: function(data) {
                           //код в этом блоке выполняется при успешной отправке сообщения
                           alert(data);
                           //$('.status').html(data);
                      }
                });
          })


       }
      }
       
      setTimeout(loadjq, 2000);

      
      // to defer the loading of stylesheets
        // just add it right before the </body> tag
        // and before any javaScript file inclusion (for performance)  
        function loadStyleSheet(src){
            if (document.createStyleSheet) document.createStyleSheet(src);
            else {
                var stylesheet = document.createElement('link');
                stylesheet.href = src;
                stylesheet.rel = 'stylesheet';
                stylesheet.type = 'text/css';
                document.getElementsByTagName('head')[0].appendChild(stylesheet);
            }
        }
      
