@green:#89B539;
@beige:#fcf9f6;
@brown:#836545;
@grey:#f2f2f2;
@bbrown:#5B382E; //коричневый цвет кнопки

@radius:20px;

@import "sections/section2.less"; 
@import "sections/section3.less"; 
@import "sections/section4.less"; 

body 
{
	color:@brown;
	font-family: Arial, sans-serif;
}
.head
{
	display:flex;
	width: 960px;
	margin:0 auto;
	justify-content: space-around;
    align-items: center;

    @media only screen and (max-width:960px)
    {
    	width:100%;
    }

    .head__topLogo img
    {
    	width:47%;
    @media only screen and(max-width:480px)
	    {
	    	margin: 0 auto;
    		display: block;
	    }	
    }
    .head__topTel
    {
    	color:@green;
    }

    @media only screen and (max-width:480px){
    
    	flex-direction:column;
    	width:100%;
    }	
    
}


.inner
{
	width: 960px;
	margin:0 auto;

	@media only screen and (max-width:960px)
	{
		width:100%
	}
}
.section1
{
	background-color: @beige;
	h1
	{
		text-align:center;
	}
	
	div.inner
	{
		display:flex;

		div.leftSide
		{
			img:first-child
			{
				width:100%
			}
		}
		
	}
	div.stats
	{
		display:flex;
		align-items:center;
	}

	div.greenForm
	{
		background-color: @green;
		box-shadow: 0px 3px 13px 0px rgba(137, 181, 57, 0.36);

		p 
		{
			color:#fff;
		}

		input
		{
			
			text-align:center;
			display: block;
    		margin: 0.4em auto;
		}
	}

}

/* leadform */

div.leadform
{
	background-color: @grey;
	text-align:center;

	h2, .form{padding:1em}
	form.form
	{
		input
		{
				margin:0.4em;
			    border-radius: 20px;
			    border: none;
			    padding: 0.7em;
		}
		input[type='submit']
		{
			background-color: @bbrown;
			color:#fff;
			cursor:pointer;

			&:hover
			{
				background-color: #fff;
				color:@green;
				border:1px solid @green;
			}

		}
	}
}

