mixin arrow 
	img(src='img/0arrow.jpg')

div.inner
	h2 Осуществляем полный цикл работ, от разработки проекта- до отделки дома “под ключ”
	p.
		9 этапов строительства дома из бревна:

	<select id='stage9'>
		<option value="t1" >1. Эскиз</option>
		<option value="t2">2. Проект</option>
		<option value="t3">3. Фундамент</option>
		<option value="t4">4. Перекрытия</option>
		<option value="t5">5. Стеновой комплект</option>
		<option value="t6">6. Фронтоны</option>
		<option value="t7">7. Крыша</option>
	</select>
	script.
		$('#stage9').change(function(){
		openTab(event, $(this).val());
		})	
	div.numbers
		div.circle.drow(onclick="openTab(event, 't1')").
			1
		span.
			Эскиз
		+arrow

		div.circle.drow(onclick="openTab(event, 't2')").
			2
		span.
			Проект
		+arrow

		div.circle.drow(onclick="openTab(event, 't3')").
			3
		span.
			Фундамент
		+arrow
	div.numbers
		div.circle.drow(onclick="openTab(event, 't4')").
			4
		span.
			Перекрытия
		+arrow

		div.circle.drow(onclick="openTab(event, 't5')").
			5
		span.
			Стеновой комплект
		+arrow

		div.circle.drow(onclick="openTab(event, 't6')").
			6
		span.
			Фронтоны
		+arrow

		div.circle.drow(onclick="openTab(event, 't7')").
			7
		span.
			Крыша
	
	div.tabarea#t1
		p.
			Этот эскиз небходим, чтобы
		p.
			узнать необходимый бюджет для строительства вашего дома; <br>
			визуализировать Ваши пожелания по планировки дома;
		img(src='img/st1.jpg')
		p.grey.
			Предлагаем разработать эскиз дома с нашим Архитектором - бесплатно!
		p.
			Что это Вам даст:
		ol
			li.
				Экономию путём замены не несущих стен на лёгкие перегородки и грамотный выбор высот этажей дома
			li.
				Мы разработаем эскиз в программе, где каждый отрезок бревна будет учтён-что уменьшит стоимость дома.
			li.
				Расчёт сметной стоимости
			li.
				Расчёт сроков начала и окончания работ
		p.green.
			За счёт этого Вы получите Дом желаемых размеров
			из качественных материалов-но Дешевле!		
									

	div.tabarea#t2
		h2.
			ПРАВИЛЬНЫЙ И ПОЛНЫЙ ПРОЕКТ В 2-3 РАЗА УМЕНЬШАЕТ ЗАТРАТЫ
			НА СТРОИТЕЛЬСТВО
		p.
			Наш архитектор с опытом более 5 лет! С его помощью сэкономлено
			более 30.5 млн.руб	
		div.c3
			div.circle.drow.
				1
			span.
				Сможете визуализировать свои пожелания

			div.circle.drow.
				2
			span.
				Проект позволяет увидеть точные
				объемы материалов
			div.circle.drow.
				3
			span.
				Проект является приложением к договору		
	
	div.tabarea#t3
		div.innert3
			div.column
				div.bubble
					p.
						Выезжаем на Ваш участок.<br>
						-Делаем привязку и расположение дома на участке
						-Измеряем перепады высот и изучаем грунт в пятне застройки

				div.bubble
					p.
						Произоводим самостоятельный расчет
						нагрузки и прочности фундамента
				div.bubble
					p.
						Делаем собственное заключение
						и рекомендации по выбору фундамента
				div.bubble
					p.
						Бесплатно осуществляем устройство
						любого фундамента		
				div.bubble
					p.
						Используем бетон, арматуру и своих,
						только проверенных производителей	
			div.img
				img(src='img/s3t3.jpg')

	div.tabarea#t4
		h2.
			ПРАВИЛЬНЫЙ И ПОЛНЫЙ ПРОЕКТ <span>В 2-3 РАЗА УМЕНЬШАЕТ ЗАТРАТЫ
			НА СТРОИТЕЛЬСТВО</span>
		div.row
			div.text
				p.
					Деревянные лаги 100x200мм
					(перекрытие пола первого этажа)
					врезаются в стены, никаких
					металлических стаканов
			div.img
				img(src='img/st31.jpg')
		div.row
			div.text
				p.
					Железобетонные пустотелые
					плиты перекрытие
					(перекрытие пола первого этажа)
			div.img
				img(src='img/st32.jpg')

		div.row
			div.text
				p.
					Монолитные перекрытия
					(перекрытия пола первого этажа)	
			div.img
				img(src='img/st33.jpg')

		div.row
			div.text
				p.
					Деревянные лаги 100x200мм
					(межэтажное перекрытие)
					врезаются в стены, для 
					конструктивной надежности
			div.img
				img(src='img/st34.jpg')

	div.tabarea#t5
		h2.
			стеновой комплект
		div.wrap
			div.list
				ol
					li.
						Сборка стенового комплекта
						осуществляется на сухие “нагели”
						с шагом от 0.5м до 1.3м
					li.
						Равномерность сборки контролируется
						на каждом ряду
					li.
						Сборка ведется на межвенцовый
						утеплитель политерм,
						он разжимается при усадке
						(конопатка не потребуется)
					li.
						В местах стыковки бревен они
						соединяются “скобами”и накрываются
						“перерубом” для исключения мостиков
						холода.
					li.
						Сборка начинается с гидроизоляции
						фундамента, далее закладная
						доска 50 мм*200 мм (лиственница, сосна),
						затем полубревно, и начинается сборка
						всей стопы сруба
			div.img
				img(src='img/st5.jpg')
	div.tabarea#t6
		h2.
			фронтоны
		p.
			1. Бревенчатые фронтоны.
			Скрепляются “нагелями” и пружинными узлами “сила”
			с целью предотвращения зависания бревен

		img(src="img/st61.jpg")

		p.
			2. Каркасные фронтоны.
			Вместо бревенчатых фронтонов можно использовать
			“каркасные” с целью экономии денежных средств
		img(src='img/st62.jpg')


	div.tabarea#t7
		h2.
			виды крышы
		p.description.
				Проектируем и устанвливаем любые крыши
				с расширенной гарантией!
		div.row
			p.desc.
				Двухскатная крыша
				-собирается простой конструктив
				-закрепляется на скользящие элементы (для усадки)
				-создается дополнительное пространство
			img(src='img/st71.jpg')
		div.row
			p.desc.
				Крыша с ендовами
				-сложный конструктив крыши
				-закрепляется на скользящие элементы (для усадки)
				-создается дополнительное пространство
				-возможно только временное финишное покрытие сразу
			img(src='img/st72.jpg')
		div.row
			p.desc.
				Вольмовая крыша
				-устанавливается без фронтонов
				-закрепляется без скользящих элементов (не требует усадки)
			img(src='img/st73.jpg')
		div.row
			p.desc.
				Двухскатная ломанная крыша
				-устанавливается с каркасными фронтонами
				-закрепляется без скользящих элементов
				(не требует усадки)
				-создает дополнительное пространство усадки для проживания
			img(src='img/st74.jpg')