div.inner
	img(src='img/smeta.png')
	div.greenlead
		h2.
			Оставьте заявку на расчет точной сметы на дом
		p.
			Оставьте заявку сейчас и уже через
			60 минут получите точный расчет стоимости дома с учетом акции "Бесплатный фундамент"
		form.form
			input(type='text' placeholder='Ваше имя' required name='name')
			input(type='text' placeholder='Ваш телефон' required name='phone')
			input(type='submit' value='Отправить')