h2 ОТВЕТИМ НА ЛЮБОЙ ВАШ ВОПРОС
div.inner
	div.leftside
		p.bgreen.
			+7 (843) 202 34 49
		input(type='button' class='bbrown' value='Закажите звонок')
		p.copy.
			Wood House Group<br>
			© 2016 Строительство домов из бревна от производителя


	div.rightside
		p.
			Наш офис находится по адресу:
			г.Казань, ул.Журналистов 56c
		input(type='button' class='mbrown' value='Посмотреть на карте >>')
		p.
			Наше производство находится по адресу:
			Кир.область
		input(type='button' class='mbrown' value='Посмотреть на карте >>')
		p.smtel.
			<b>+7 (843) 202 34 49</b>
			Реквизиты 
			Проекты