style.
	div.section4 
	{
	background:url(img/brevna.jpg);
	}
div.inner
	h2.
		ДАЕМ ГАРАНТИИ И УСЛОВИЯ ОПЛАТЫ, КОТОРЫЕ НЕ МОГУТ
		СЕБЕ ПОЗВОЛИТЬ 90% КОМПАНИЙ
	div.row

		div.noicon
			div.up.
				5 лет
			hr
			div.under.
				Гарантия 5 лет
				на все виды работ
		div.noicon
			div.up.
				Сервисное
				обслуживание
			hr
			div.under.
				Целый год, в самый
				ответственный период,
				мы сами будем следить
				за усадкой
		div.noicon
			div.up.
				Гарантия сроков
			hr
			div.under.
				Юридическая гарантия
				сроков. До 0,1%
				от суммы за каждый
				день просрочки
		div.noicon
			div.up.
				Минимальный аванс
			hr
			div.under.
				Минимальный аванс 15-20% от общей суммы	

	div.row
		div.iconblock
			div.upGreen
				span
					img(src='img/s4i1.png')
				p.
					Гарантия фиксированной сметы
			hr
			span.
				Все не предусмотренные
				расходы, компенсируем
				за свой счет
		div.iconblock
			div.upGreen
				span
					img(src='img/s4i2.png')
				p.
					Без посредников
			hr
			span.
				Мы сами выполняем
				все работы и несем
				за них ответственность

		div.iconblock
			div.upGreen
				span
					img(src='img/s4i3.png')
				p.
					Платите по факту
			hr
			span.
				Оплата всех работ
				по факту их
				выполнения						


	input(type='button' value='Скачать пример договора')