.section5
{
	h2
	{
		text-align: center;
		text-transform: uppercase;
	}
	div.list
	{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;

	}
	div.house
	{
		text-align:center;
		font-weight:bold;
		border:1px solid #fff;
		cursor:pointer;

		&:hover
		{
			border:1px solid @green;
		}
	}

	
}
/*/section5*/
.lity-container
	{
		color:#fff;

		h1 
		{
			text-align: center;
		} 
		.wrapper
		{
			display:flex;
			@media only screen and (max-width:900px)
			{
				flex-wrap:wrap;


			}
		}
.stats
				{
					display:flex;
					@media only screen and (max-width:400px)
					{
						flex-wrap:wrap;
						text-align:center;

						.form input
						{
							display:inline;
						}
					}
				}
		.form
		{
			input
			{
				display:block;
			}
			input[type='submit']
			{
				background-color:@green; 
				cursor:pointer;
				border:1px solid transparent;
				color:#fff;
				&:hover
				{
					background-color: #fff;
					border:1px solid @green;
					color:@green;
				}
			}
		}
		.swiper-container, .stats
		{
			margin:1em;		
		}
		.swiper-container
		{
			.swiper-slide-next
			{
				img
				{
					position: relative;
					left:32%;
					width:100%
				}
			}
		}

		.stats
		{
			input
			{
				margin:0.5em;
				border-radius: 3px;
			    border: none;
			    padding: 0.3em;
			}
		}
	}



/*swiper*/

.swiper-container {
        width: 700px;
        height: 500px;
        margin: 20px auto;
    @media only screen and (max-width:712px)
    {
		width:100%;
		height:100%;

		img
		{
			width:100%;
		}
    }    
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }